*{
     font-family: "Poppins", sans-serif;
}
.logo{
    font-size: 45px;
    font-weight: 800;
    margin-left: 150px;
}
.logo-span{
    font-size: 45px;
    font-weight: 800;
    color:#FD6E0A
}
ul li{
    list-style: none;
}
ul a{
  
    text-decoration: none;
    color: #474747;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    align-items: center;
}
.navhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn{
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    background-color: #FD6E0A;
    color: white;
    border:none;
    border-radius: 5px; 
    padding: 20px;
    text-align: center;
    

}
.btn:hover{
    background-color: aqua;
    color:black;
    cursor: pointer;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.header-information{
    width: auto;
    height: auto;
    border-style: solid;
    margin: 150px;
    padding: 20px;
    line-height: 1;
    border: none;
}
.heading-image{
    width: 584px;
    height: 676px;
    margin-right: 20px;
}
.information-h4{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.information-h2{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
}
.information-p{
    font-size: 18px;
    font-weight:400;
    color:#474747;
}
.btn-contact{
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    color: #FD6E0A;
    border-style: solid;
    border-color: #FD6E0A;
    border-radius: 5px; 
    padding: 20px;
    text-align: center;
    margin-left: 25px;
}
    